{
  "host": "localhost",
  "servers": {
    "1": {
      "id": 1,
      "host": "127.0.0.1",
      "name": "Snaildom",
      "color": "yellow",
      "port": 5600
    }
  },
  "database": {
    "host": "127.0.0.1",
    "user": "root",
    "password": "",
    "database": "snaildom"
  },
  "recaptcha": {
    "secret_key": ""
  },
  "creationDate": 1546275936813,
  "era": {
    "prefix": " &nbsp;&nbsp;&nbsp;",
    "name": "Beta Era",
    "suffix": ""
  },
  "logging": {
    "debug": false,
    "levels": [
      {"name": "info", "function": "write", "color": "green", "save": false},
      {"name": "warning", "function": "warn", "color": "yellow"},
      {"name": "error", "color": "red"},
      {"name": "fatal", "color": "red", "fatal": true}
    ]
  }
}