<div class="navbar">
  <div class="part left">
    <a href="javascript:void(0)" id="sidebarBtn">
      <i class="fas fa-bars"></i>
    </a>
  </div>
  <div class="part right">
    <div class="item">
      <%= Self.Username %>
    </div>
    <a href="/logout">
      <div class="item">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </a>
  </div>
</div>