<div class="options">
  <div class="option">
    <div class="title">
      ORDER
    </div>
    <div class="selector" id="order">
      <div data-value="asc" class="selection" data-tippy="Ascending">
        ASC
      </div>
      <div data-value="desc" class="selection active" data-tippy="Descending">
        DESC
      </div>
    </div>
  </div>
  <div class="option">
    <div class="title">
      LIMIT
    </div>
    <div class="selector" id="limit">
      <div data-value="25" class="selection">
        25
      </div>
      <div data-value="50" class="selection active">
        50
      </div>
      <div data-value="100" class="selection">
        100
      </div>
    </div>
  </div>
  <div class="option">
    <div class="title">
      OFFSET
    </div>
    <div class="selector" id="offset">
      <input type="number" value="0">
    </div>
  </div>
</div>