<div class="sidebar">
  <div class="header">
    Snaildom
  </div>
  <div class="category">
    Basic Administration
  </div>
  <!-- Basic Administration -->
  <a href="/">
    <div class="item">
      <i class="fas fa-home"></i> Overview
    </div>
  </a>
  <!-- Basic Administration End -->
  <div class="category">
    Management
  </div>
  <!-- Management -->
  <a href="/users">
    <div class="item">
      <i class="fas fa-users"></i> Users
    </div>
  </a>
  <a href="/bans">
    <div class="item">
      <i class="fas fa-ban"></i> Bans
    </div>
  </a>
  <a href="/logs">
    <div class="item">
      <i class="fas fa-history"></i> Logs
    </div>
  </a>
  <!-- Management End -->
</div>