<% include Templates/head %>
<script src="/assets/js/pages/bans.js"></script>
<div class="container">
  <% include Templates/sidebar %>
  <div class="content">
    <% include Templates/navbar %>
    <div class="body">
      <div class="header">
        Bans
      </div>
      <div class="search">
        <div class="container">
          <div class="item">
            <form>
              <input type="text" placeholder="search...">
              <button class="button"><i class="fas fa-search"></i></button>
            </form>
          </div>
          <div class="item">
            <a href="/ban/insert">
              <button class="button new">+</button>
            </a>
          </div>
        </div>
      </div>
      <div class="box">
        <table class="table bans">
          <thead>
            <tr>
              <th>User</th>
              <th>Issuer</th>
              <th>Reason</th>
              <th>Length</th>
              <th>Date</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div id="loading">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
      <% include Templates/options %>
    </div>
  </div>
</div>
<% include Templates/foot %>