<% include Templates/head %>
<script src="/assets/js/login.js"></script>
<div class="center">
  <h2>Login</h2>
  <div class="box login">
    <form id="login">
      <div class="field">
        <input class="input is-fullwidth" type="text" placeholder="Username">
      </div>
      <div class="field">
        <input class="input is-fullwidth" type="password" placeholder="Password">
      </div>
      <input class="button is-fullwidth" type="submit" value="Login">
    </form>
  </div>
</div>
<% include Templates/foot %>